@import "tailwindcss";

@layer base {

  html,
  body {
    @apply scroll-smooth cursor-none;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
  }

  a,
  button,
  [role="button"],
  .cursor-pointer {
    @apply cursor-none;
  }
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;

  --muted: #f8fafc;
  --muted-foreground: #64748b;

  --accent: #eff6ff;
  --accent-foreground: #1e40af;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}