@import "tailwindcss";

@layer base {

  html,
  body {
    @apply scroll-smooth cursor-none;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
  }

  a,
  button,
  [role="button"],
  .cursor-pointer {
    @apply cursor-none;
  }
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #D4AF37;
  /* Premium Gold */
  --primary-foreground: #ffffff;

  --secondary: #fdfbf7;
  /* Slightly warm white */
  --secondary-foreground: #1a1a1a;

  --muted: #faf9f6;
  --muted-foreground: #737373;

  --accent: #fcf8ee;
  --accent-foreground: #8a6d3b;
  /* Darker gold/bronze for text */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}